<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Management System - 404</title>
    <link rel="stylesheet" href="../styles/style.css?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <section class="container-90 top-nav " style="display: flex;justify-content: space-between; align-items: center;">
            <div class="header_logo">
                <img src="../assets/img2.svg" alt="LOGO">
            </div>
            <div class="flex gap-10">
                <a href="index.php">Home</a>
                <a href="login.php">Login</a>
                <a href="signup.php">Register</a>
            </div>
        </section>
    </header>

    <main>
        <div class="container-90 " style="height: 90dvh;display: flex;align-items: center;justify-content: center; width: 100dvw;">
            <a href="index.php">
                <img src="../assets/404-3.png" alt="">
            </a>
        </div>
    </main>
    <footer>
        <p class="container-90"> &copy; 2024 Real Estate Management System. Developed by PAQUIBOT.</p>
    </footer>
</body>
</html>
