<Files "style.css">
    Require all denied
    <If "%{HTTP_REFERER} =~ m#^http://localhost/paquibot/#">
        Require all granted
    </If>
</Files>

ErrorDocument 403 http://localhost/paquibot/views/404.html